@media screen and (max-width: 1000px) {
  .w75 {
    width: 95vw;
  }
}
@media screen and (max-width: 750px){
  .wpp {
    display: block;
  }
  .w100 {
    position: relative;
    padding: 5px 0;
  }
  .menu {
    justify-content: space-around;
  }
  .menu *{
    /*border: 1px solid #000;*/

  }
  .menu .head{
    display: block;
  }
  .cont1 {
    margin: 5px 0vw;
    justify-content: center;
  }
  .logo {
  }
  .container_img{
    display: none;
  }
  .head2 {
    margin: 200px 50%;
    padding: 10px;
    width: 80vw;
    transform: translate(-50%, 0);
  }
  .bg {
  position: absolute;
  /*height: 100%;*/
  margin: 0 50%;
  /*z-index: -5;*/
  transform: translate(-50%, 0); 
}
}