@font-face {
  font-family: myFont;
  src: url(font/KZ_GOTHIC.ttf);
}
@font-face {
  font-family: myFontB;
  src: url(font/KZ_GOTHICB.ttf);
}
*{
	margin: 0;
	padding: 0;
	font-family: myFont;
	text-decoration: none;
	color: inherit;
}
h1 { font-size: clamp(28px, 6vw, 72px); }
h2 { font-size: clamp(24px, 5vw, 60px); }
h3 { font-size: clamp(20px, 4vw, 48px); }
h4 { font-size: clamp(18px, 3vw, 36px); }
h5 { font-size: clamp(16px, 2vw, 28px); }
h6 { font-size: clamp(14px, 1vw, 20px); }

p {
  font-size: clamp(0.625rem, 1.5vw + 0.375rem, 1rem);  
  line-height: 1.5; 
}

/*.br1 {height: 20px;}
.br2 {height: 40px;}
.br3 {height: 60px;}
.br4 {height: 80px;}
.br5 {height: 100px;}*/

.br1 {height: clamp(10px, 2vw, 20px);}
.br2 {height: clamp(20px, 4vw, 40px);}
.br3 {height: clamp(30px, 6vw, 60px);}
.br4 {height: clamp(40px, 8vw, 80px);}
.br5 {height: clamp(50px, 10vw, 100px);}

.parag {
	/*background: red;*/
	/*border-left: 3px solid var(--darkGray);*/
}
.parag::before {
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

:root {
	--orange: #fc9f7e;
	--blue: #4b91b2;
	--blue2: #b88158;

	/*--green: #475e4e;*/
	--red: #ec3046;
	--black: #000;

	--white: #f0f1f3;
	--gray: #b4bbc5;
	--darkGray: #2f3640;
}

button {
  background: var(--orange);
  color: var(--black);
  border: none;
  /*border-radius: 5px;*/
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: myFontB;
  cursor: pointer;
  box-shadow: 0 3px 0 0 #000;
  outline: none;
}

button:active {
  transform: scale(0.96);
}

.block {
	position: relative;
	width: 100%;
}
.block1 {
	position: relative;
	overflow: hidden;
	height: 90vh;
	background: var(--darkGray);
}
.w100 {
    position: relative;
    padding: 15px 0;
}
.w75 {
	width: 75vw;
	margin: 0 50%;
	transform: translate(-50%, 0);
}
.menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    color: var(--white);
}
.menu .head {
		align-items: center;
	display: flex;
}
.logo{
	width: clamp(75px, 8vw, 100px);
	z-index: 10;
}
.cont1 {
	align-items: center;
	display: flex;
}
.cont1 img{
	width: 30px;
}
.cont1 .context1{
	margin: 0 1.5vw;
}
.fill {
	padding: 10px;
	/*border-radius: 15px;*/
}
.bg {
	position: absolute;
	height: 130%;
	margin: 0 50%;
	/*z-index: -5;*/
	transform: translate(-50vw, 0);	
}
.head2 {
	backdrop-filter: blur(20px);
	width: max(50vw, 200px);
	color: var(--white);
	background: rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 0 #000;
	padding: 30px;
	margin: 20vh 0% ;
	/*transform: translate(0%, 0%);*/
}
.head2 h1 {

}

/*--------------------------block 2-------------------------*/

.block2 {
	background: var(--white);
	color: var(--darkGray);
	overflow: hidden;
}
.block2 * {
	/*border: 1px solid #000;*/
}

.container_img {
	width: 800px;
	position: absolute;
	transform: translate(-50%, 8%);
	z-index: 0;
	margin:  0 70%;
	z-index: 10;
}
.block2 p {
	text-align: justify;
}
.block2 ul p{
	background: red;
	text-align: center;
}
.block2 ul {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	flex-wrap: wrap;

}
.block2 ul li {
	/*width: 320px;*/
	width: clamp(100px, 25vw, 300px);
	margin: clamp(5px, 10px, 20px);;

}
.block2 .w75 ul li img {
	width: 12vmin;
	height: 12vmin;
	position: relative;
	margin: 10px 0px;
}

/*--------------------------block 2-------------------------*/
/*--------------------------block 3-------------------------*/

.block3 * {
	color: var(--darkGray);
}
.block3 .category {
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.block3 .category p {
	padding: 20px 50px 20px 0;
}
.block3 h6 {
	text-align: left;
	margin: 10px 7px;
}
.block3 p {
	text-align: left;
	margin: 7px;
}
.priceMenu li .showroom .price {
	font-size: 30px;
	margin: 10px 7px;
}
.priceMenu .price::after {
  content: " ₸";
}

.priceMenu {
	display: flex;
	justify-content: center;
	gap: clamp(10px, 1.2vw, 20px);
}
.priceMenu li{
	width: clamp(250px, 25vw, 400px);
}
.priceMenu li img {
	width: 100%;
	/*border-radius: 10px;*/
}
.priceMenu {
	text-align: center;
	flex-wrap: wrap;
	/*align-items: center;*/
}

.priceMenu .showroom .buy {
	margin: 10px;
}

.priceMenu .showroom {
	background: var(--white);
	box-shadow: 0 0 0px 0 #000;
	padding: 5px;
	/*border-radius: 12.5px;*/
}


.block3 .w100{
	background: var(--gray);
}
/*--------------------------block 3-------------------------*/
/*--------------------------block 4-------------------------*/

.block4 *{
	color: var(--white);
}
.block4 {
	background: var(--darkGray);
}
.block4 .contacts {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.block4 .contacts li {
	width: clamp(150px, 10vw, 250px);
	/*border: 1px solid #000;*/
}
.block4 .contacts li img {
	width: 40px;
	margin: 10px;
}
.block4 ul li {
	/*border: 1px solid #000;*/
	text-align: center;
}
.block4 .contacts p {
	margin: 5px 0;
}
