@media screen and (max-width: 1000px) {
  .w75 {
    width: 90vw;
  }
}
@media screen and (max-width: 750px){
  .w100 {
    position: relative;
    padding: 5px 0;
  }
  .menu .head{
    display: block;
    align-items: center;
  }
  .cont1 {
    margin: 10px 0vw;
    justify-content: center;
  }
  .logo {
    margin: 20%;
    transform: translate(0, 0%);
    }
  .container_img{
    display: none;
  }
}